@model IEnumerable<DTDD_BaoThanh.Models.tbl_Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Scripts{ }




<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Danh Sách Sản Phẩm
        <a href="~/Admin/Products/Create" style="float:right;">
            Create <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="ProductList" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        
                        <th>Danh Mục</th>
                        <th>Tên Sản Phẩm</th>
                        <th>Màu Sắc</th>
                        <th>Giá</th>
                        <th>Tình Trạng</th>
                        <th>Nổi Bật</th>
                        <th>Tùy Chọn</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.tbl_Categories.Name</td>
                            <td>@item.Name</td>
                            <td>@item.Color</td>
                            <td>@String.Format("{0:N0}", item.Price)</td>
                            <td class="text-center" id="IsActive-@item.Id">@if (item.IsActive==true) {
                                <button class="btn btn-primary btnIsActive" id="btn-@item.Id" data-id="@item.Id" >ON</button>
                            }
                            else
                            {
                                <button class="btn btn-danger btnIsActive" id="btn-@item.Id"  data-id="@item.Id" >OFF</button>
                            }

                            </td>
                            <td class="text-center" id="NoiBat-@item.Id">
                                @if (item.NoiBat == true)
                            {
                                <button class="btn btn-primary btnNoiBat" id="btnnoibat-@item.Id" data-id="@item.Id">ON</button>
                            }
                            else
                            {
                                <button class="btn btn-danger btnNoiBat" id="btnnoibat-@item.Id" data-id="@item.Id">OFF</button>
                            }

                            </td>
                            <td>
                                <a href="~/Admin/Products/Edit/@item.Id" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <span data-toggle="tooltip" data-placement="top" title="Detail" >
                                    <a href="#" data-toggle="modal" data-target="#ProductDetailForItem-@item.Id" >
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </span>
                                <span data-toggle="tooltip" data-placement="top" title="Delete">
                                    <a href="#" data-toggle="modal" data-target="#ProductDeleteByID-@item.Id" ><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </span>

                                @*modal for detail*@
                                <div id="ProductDetailForItem-@item.Id" class="modal fade bd-example-modal-lg" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Chi Tiết Sản Phẩm</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <img style="margin-left:50px" src="~/Content/images/@item.Image" class="img-thumbnail">
                                                        </div>
                                                        <div class="col-md-6 ml-auto mr-auto">
                                                            <h5 class="text-center">
                                                                @item.Name
                                                            </h5>
                                                            <p class="text-muted text-center">@item.Alias</p>
                                                            
                                                            <p class="text-center" style="color: #429a9d; font-size: 22px;">@String.Format("{0:N0}", item.Price) VND</p>
                                                            <p class="text-center">Số lượng : <strong>@item.Quantity</strong>  Views : <strong>@item.Views</strong></p>
                                                            <p class="text-center">Ngày Cập Nhật : @String.Format("{0:d/M/yyyy HH:mm}", item.LastUpdate)</p>
                                                            <p class="text-center">Màu : <strong>@item.Color</strong></p>
                                                        </div>
                                                    </div>
                                                    
                                                    <table style="margin-top:20px; margin-right:20px;">
                                                            <tr>
                                                                <th>Detail</th>
                                                                <th>@item.Detail</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Size</th>
                                                                <th>
                                                                @if (@item.Size == null)
                                                                {
                                                                    <p></p>
                                                                }
                                                                else
                                                                {
                                                                    @item.Size
                                                                }
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <th>Weight</th>
                                                                <th>
                                                                    @if (@item.Weight == null)
                                                                    {
                                                                        <p></p>
                                                                    }
                                                                    else
                                                                    {
                                                                        @item.Weight
                                                                    }
                                                                </th>
                                                            </tr>
                                                           
                                                            <tr>
                                                                <th>Memory</th>
                                                                <th>
                                                                @if (@item.Memory == null)
                                                                {
                                                                    <p></p>
                                                                }
                                                                else
                                                                {
                                                                    @item.Memory
                                                                }
                                                                </th>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <th>Os</th>
                                                                <th>
                                                                @if (@item.Os == null)
                                                                {
                                                                    <p></p>
                                                                }
                                                                else
                                                                {
                                                                    @item.Os
                                                                }
                                                                </th>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <th>CPU</th>
                                                                <th>
                                                                @if (@item.Cpu == null)
                                                                {
                                                                    <p></p>
                                                                }
                                                                else
                                                                {
                                                                    @item.Cpu
                                                                }
                                                                </th>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <th>Camera</th>
                                                                <th>
                                                                @if (@item.Camera == null)
                                                                {
                                                                    <p></p>
                                                                }
                                                                else
                                                                {
                                                                    @item.Camera
                                                                }
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <th>Warranty</th>
                                                                <th>@item.Warranty</th>
                                                            </tr>
                                                            
                                                        </table>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*modal for delete*@
                                <div id="ProductDeleteByID-@item.Id" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Xóa Sản Phẩm</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="text-info">Bạn có chắc muốn xóa Sản Phẩm này ?</p>
                                                @if(item.Quantity > 0)
                                                {
                                                    <p class="text-danger">Hiện trong kho còn @item.Quantity sản phẩm này</p>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                                <a href="@Url.Action("Delete", "Products",new { id = item.Id})" class="btn btn-danger">Xóa</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>                        
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

